@import "./utilities.css";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

html,
body {
  font-size: 10px;
}

@media screen and (orientation: landscape) {
  html,
  body {
    font-size: 16px;
  }
}
